# General
.DS_Store
# Keep workspace settings tracked, ignore other VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
tmp/*
!tmp/.gitkeep

# Python build & tooling artifacts
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.python-version
.venv/
.uv/
.pytest_cache/
.benchmarks/
.mypy_cache/
.ruff_cache/
.pyright/

# Profiling artefacts
profile.svg
*.prof
prof/

# Coverage reports
htmlcov/
.coverage*
*.lcov
