# General
.DS_Store
.vscode/
.idea/
tmp/*
!tmp/.gitkeep

# Python build & tooling artifacts
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.python-version
.venv/
.uv/
.pytest_cache/
.mypy_cache/
ruff_cache/
.pyright/

# Coverage reports
htmlcov/
.coverage*
*.lcov
